<ion-header>
  <ion-toolbar>
    <i slot="start" (click)="goBack()" class="back-but material-icons">
      arrow_back
    </i>
    <ion-title>View Note</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-content>
      <ion-card-title slot="start">
        <ion-input
          class="title-input"
          type="text"
          name="title"
          value="{{ note.title }}"
        ></ion-input>
      </ion-card-title>
      <ion-card-subtitle slot="start" class="note-date"
        >{{ getDate(note.date) }}</ion-card-subtitle
      >
      <hr />
      <ion-textarea
        id="content-note"
        class="text-area-ion"
        autoGrow="true"
        value="{{note.content}}"
      ></ion-textarea>
    </ion-card-content>
  </ion-card>
</ion-content>

<ion-footer class="footer-height">
  <ion-buttons
    class="footer-left-button"
    button
    color="danger"
    (click)="deleteNote(note.createDate)"
    ><button class="whole-width-height">
      <ion-icon class="ico-button" name="trash-outline"></ion-icon></button
  ></ion-buttons>
  <ion-buttons
    class="footer-right-button"
    button
    color="danger"
    (click)="saveNote(note.createDate)"
    ><button class="whole-width-height">
      <ion-icon
        class="ico-button-right"
        name="checkmark-done-outline"
      ></ion-icon></button
  ></ion-buttons>
</ion-footer>
