.float-bottom-right-circle {
  position: fixed;
  bottom: 15px;
  right: 15px;

  font-size: 18px;
  display: block;
  width: 50px;
  height: 50px;
  z-index: 1;
}

ion-toolbar {
  border-bottom: 3px solid orangered;
  box-shadow: 0px 3px white;
  --background: #121212 !important;
}

.float-bottom-right-circle {
  position: fixed;
  bottom: 2vw;

  right: 2vw;

  font-size: 18px;
  display: block;
  width: 12vw;
  height: 12vw;
  z-index: 1;

  border: 3px solid orangered;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: 0px 0px 15px rgba(255, 255, 255, 0.3) !important;
}
.whole-width-height {
  height: 100%;
  width: 100%;
  background: rgb(255, 69, 0, 0.5);
}

.ico-button {
  width: 100%;
  height: 100%;
  color: white;
}
.whole-width-height {
  height: 100%;
  width: 100%;
  background: rgb(255, 69, 0, 0.5);
}

.whole-width-height:active {
  background: rgba(255, 169, 100, 0.5);
  box-shadow: 0px 0px 25px rgba(255, 255, 255, 0.4) !important;
}

.float-bottom-right-circle:active {
  box-shadow: 0px 0px 25px rgba(255, 255, 255, 0.4) !important;
}

form {
  padding-top: 20px;
  padding-bottom: 70px;
}
ion-item {
  border-top: 1px solid orangered;
  border-bottom: 1px solid orangered;
  background: #1e1e1e;
  margin-bottom: 5px;
}
ion-item > ion-label {
  color: #ffae00;
  color: primary;
}

ion-input {
  text-align: right !important;
}

input {
  text-align: right !important;
}
